name: Update Activity Log

on:
  workflow_dispatch:
  schedule:
    - cron: '0 2 * * *'

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Generate GitHub activity
        uses: TheDanniCraft/activity-log@main
        with:
          GH_TOKEN: ${{ secrets.TOKEN }}

      - name: Commit changes
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add README.md
          git commit -m "Update activity log" || echo "No changes"
          git push
